{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>details de commande</title>
  <!-- Iconic Fonts -->
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/foodtech/foodtech-logo-216x62.png' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static 'vendors/iconic-fonts/flat-icons/icon.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/iconic-fonts/font-awesome/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/flat-icons/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/cryptocoins/cryptocoins.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/cryptocoins/cryptocoins-colors.css' %}">
  <!-- Bootstrap core CSS -->
  <link href="{%static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Page Specific Css (Datatables.css) -->
  <link href="{% static 'assets/css/datatables.min.css' %}" rel="stylesheet">

  <!-- jQuery UI -->
  <link href="{% static 'assets/css/jquery-ui.min.css' %}" rel="stylesheet">
  <!-- Foodtech Core styles -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon.ico">






  <!-- Page Specific CSS (Slick Slider.css) -->
  <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet">


</head>


<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">


  <!-- Preloader -->
  <div id="preloader-wrap">
    <div class="spinner spinner-8">
      <div class="ms-circle1 ms-child"></div>
      <div class="ms-circle2 ms-child"></div>
      <div class="ms-circle3 ms-child"></div>
      <div class="ms-circle4 ms-child"></div>
      <div class="ms-circle5 ms-child"></div>
      <div class="ms-circle6 ms-child"></div>
      <div class="ms-circle7 ms-child"></div>
      <div class="ms-circle8 ms-child"></div>
      <div class="ms-circle9 ms-child"></div>
      <div class="ms-circle10 ms-child"></div>
      <div class="ms-circle11 ms-child"></div>
      <div class="ms-circle12 ms-child"></div>
    </div>
  </div>

  <!-- Overlays -->
  <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
  <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"></div>

  <!-- Sidebar Navigation Left -->


  <!-- Sidebar Right -->

  <!-- Main Content -->
  <main class="body-content">

    <!-- Navigation Bar -->



    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">

      <div class="row">
        <div class="col-md-12">

            <div class="row">
              {% for i in plat %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">



                        <ul >
                    <li class="list-group-item">  {{i.plat}}</li>
                      <li class="list-group-item"><b>{{i.quantitev}}</b></li>




                    </ul>




                </div>
                {% endfor %}
          </div>

        </div>
      </div>

    </div>

  </main>


  <!-- SCRIPTS -->
  <!-- Global Required Scripts Start -->
  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/perfect-scrollbar.js' %}"> </script>
  <script src="{% static 'assets/js/jquery-ui.min.js' %}"> </script>
  <!-- Global Required Scripts End -->

  <!-- Page Specific Scripts Start -->
  <script src="{% static 'assets/js/slick.min.js' %}"> </script>
  <script src="{% static 'assets/js/moment.js' %}"> </script>
  <script src="{% static 'assets/js/jquery.webticker.min.js' %}"> </script>
  <script src="{% static 'assets/js/Chart.bundle.min.js' %}"> </script>
  <script src="{% static 'assets/js/Chart.Financial.js' %}"> </script>

  <!-- Page Specific Scripts Finish -->
  <script src="{% static 'assets/js/datatables.min.js' %}"> </script>
  <script src="{% static 'assets/js/data-tables.js' %}"> </script>
  <!-- Page Specific Scripts Start -->
  <!-- Page Specific Scripts End -->


  <!-- Foodtech core JavaScript -->
  <script src="{% static 'assets/js/framework.js' %}"></script>

  <!-- Settings -->
  <script src="{% static 'assets/js/settings.js' %}"></script>




    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/perfect-scrollbar.js' %}"> </script>
  <script src="{% static 'assets/js/jquery-ui.min.js' %}"> </script>
  <!-- Global Required Scripts End -->

  <!-- Page Specific Scripts Start -->
  <script src="{% static 'assets/js/Chart.bundle.min.js' %}"> </script>
  <!-- Page Specific Scripts End -->

  <!-- Page Specific Scripts Finish -->
  <script src="{% static 'assets/js/datatables.min.js' %}"> </script>
  <script src="{% static 'assets/js/data-tables.js' %}"> </script>

  <!-- Foodtech core JavaScript -->
  <script src="{% static 'assets/js/framework.js' %}"></script>

  <!-- Settings -->
  <script src="{% static 'assets/js/settings.js' %}"> </script>


</body>

</html>
