{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>login</title>
  <!-- Iconic Fonts -->
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/foodtech/foodtech-logo-216x62.png' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static 'vendors/iconic-fonts/flat-icons/icon.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/iconic-fonts/font-awesome/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/flat-icons/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/cryptocoins/cryptocoins.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/cryptocoins/cryptocoins-colors.css' %}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Page Specific Css (Datatables.css) -->
  <link href="{% static 'assets/css/datatables.min.css' %}" rel="stylesheet}">

  <!-- jQuery UI -->
  <link href="{% static 'assets/css/jquery-ui.min.css' %}" rel="stylesheet">
  <!-- Foodtech Core styles -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon.ico">

</head>

<body class="ms-body ms-primary-theme ms-logged-out">

  <!-- Preloader -->
  <div id="preloader-wrap">
    <div class="spinner spinner-8">
      <div class="ms-circle1 ms-child"></div>
      <div class="ms-circle2 ms-child"></div>
      <div class="ms-circle3 ms-child"></div>
      <div class="ms-circle4 ms-child"></div>
      <div class="ms-circle5 ms-child"></div>
      <div class="ms-circle6 ms-child"></div>
      <div class="ms-circle7 ms-child"></div>
      <div class="ms-circle8 ms-child"></div>
      <div class="ms-circle9 ms-child"></div>
      <div class="ms-circle10 ms-child"></div>
      <div class="ms-circle11 ms-child"></div>
      <div class="ms-circle12 ms-child"></div>
    </div>
  </div>
  <!-- Overlays -->
  <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
  <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"></div>
  <!-- Sidebar Navigation Left -->

  <!-- Main Content -->
  <main class="body-content">
    <!-- Navigation Bar -->

    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper ms-auth">
      <div class="ms-auth-container">
        <div class="ms-auth-col">
          <div class="ms-auth-bg"></div>
        </div>
        <div class="ms-auth-col">
          <div class="ms-auth-form">
            <form method="post" action="" class="needs-validation" novalidate="">
			{% csrf_token %}
              <h3>Connection </h3>

              <div class="mb-3">
                <label for="validationCustom08">nom d'utilisateur</label>
                <div class="input-group">
                  <input type="text" name="username" class="form-control" id="validationCustom08" placeholder="nom d'utilisateur" required="">
                  <div class="invalid-feedback"></div>
                </div>
              </div>
              <div class="mb-2">
                <label for="validationCustom09">mot de passa</label>
                <div class="input-group">
                  <input type="password" name="password" class="form-control" id="validationCustom09" placeholder="mot de passe" required="">
                  <div class="invalid-feedback">Please provide a password.</div>
                </div>
              </div>

              <button class="btn btn-primary mt-4 d-block w-100" type="submit" value="login">Connection</button>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Forgot Password Modal -->
    <div class="modal fade" id="modal-12" tabindex="-1" role="dialog" aria-labelledby="modal-12">
      <div class="modal-dialog modal-dialog-centered modal-min" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button> <i class="flaticon-secure-shield d-block"></i>
            <h1>Forgot Password?</h1>
            <p>Enter your email to recover your password</p>
            <form method="post">
              <div class="ms-form-group has-icon">
                <input type="text" placeholder="Email Address" class="form-control" name="forgot-password" value=""> <i class="material-icons">email</i>
              </div>
              <button type="submit" class="btn btn-primary shadow-none">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- SCRIPTS -->
  <!-- Global Required Scripts Start -->
  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/perfect-scrollbar.js' %}">
  </script>
  <script src="{% static 'assets/js/jquery-ui.min.js' %}">
  </script>
  <!-- Global Required Scripts End -->
  <!-- Foodtech core JavaScript -->
  <script src="{% static 'assets/js/framework.js' %}"></script>
  <!-- Settings -->
  <script src="{% static 'assets/js/settings.js' %}"></script>


  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/perfect-scrollbar.js' %}"> </script>
  <script src="{% static 'assets/js/jquery-ui.min.js' %}"> </script>
  <!-- Global Required Scripts End -->

  <!-- Page Specific Scripts Start -->
  <script src="{% static 'assets/js/Chart.bundle.min.js' %}"> </script>
  <!-- Page Specific Scripts End -->

  <!-- Page Specific Scripts Finish -->
  <script src="{% static 'assets/js/datatables.min.js' %}"> </script>
  <script src="{% static 'assets/js/data-tables.js' %}"> </script>

  <!-- Foodtech core JavaScript -->
  <script src="{% static 'assets/js/framework.js' %}"></script>

  <!-- Settings -->
  <script src="{% static 'assets/js/settings.js' %}"> </script>
</body>

</html>
