{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>fermer</title>
  <!-- Iconic Fonts -->
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/foodtech/foodtech-logo-216x62.png' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static 'vendors/iconic-fonts/flat-icons/icon.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/iconic-fonts/font-awesome/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/flat-icons/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/cryptocoins/cryptocoins.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/cryptocoins/cryptocoins-colors.css' %}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Page Specific Css (Datatables.css) -->
  <link href="{% static 'assets/css/datatables.min.css' %}" rel="stylesheet}">

  <!-- jQuery UI -->
  <link href="{% static 'assets/css/jquery-ui.min.css' %}" rel="stylesheet">
  <!-- Foodtech Core styles -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon.ico">

</head>

<body class="ms-body ms-primary-theme">

  <!-- Preloader -->
  <div id="preloader-wrap">
    <div class="spinner spinner-8">
      <div class="ms-circle1 ms-child"></div>
      <div class="ms-circle2 ms-child"></div>
      <div class="ms-circle3 ms-child"></div>
      <div class="ms-circle4 ms-child"></div>
      <div class="ms-circle5 ms-child"></div>
      <div class="ms-circle6 ms-child"></div>
      <div class="ms-circle7 ms-child"></div>
      <div class="ms-circle8 ms-child"></div>
      <div class="ms-circle9 ms-child"></div>
      <div class="ms-circle10 ms-child"></div>
      <div class="ms-circle11 ms-child"></div>
      <div class="ms-circle12 ms-child"></div>
    </div>
  </div>



  <ul class="ms-lock-screen-nav">
    <li class="ms-nav-item dropdown">
       <a class="media fs-14 p-2" href="{% url 'logout' %}"> <span><i class="flaticon-shut-down mr-2"></i> </span> </a>
    </li>
  </ul>
  <!-- Main Content -->
  <main class="body-content ms-lock-screen">

    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">

      <h1 name="username">{{request.user}}</h1>
       <form method="post" action="" class="needs-validation" novalidate="">
			{% csrf_token %}

              <div class="mb-3">

                <div class="input-group">
				<div class="ms-form-group my-0 mb-0 has-icon fs-14">
                  <input type="text" name="username" class="ms-form-input " id="validationCustom08" placeholder="Email Address" required="" value="{{request.user}}" >
				   </div>
                  <div class="invalid-feedback">Please provide a valid username.</div>
                </div>
              </div>
              <div class="mb-2">

                <div class="input-group">
                 <div class="ms-form-group my-0 mb-0 has-icon fs-14">
				 <input type="password" name="password" class="ms-form-input " id="validationCustom09" placeholder="Password" required="">
					<i class="material-icons">security</i>
				 </div>
                  <div class="invalid-feedback">Please provide a password.</div>
                </div>
              </div>

              <button class="btn btn-primary mt-4 d-block w-100" type="submit" value="login">Sign In</button>

            </form>

    </div>

  </main>



  <!-- SCRIPTS -->
  <!-- Global Required Scripts Start -->
  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/perfect-scrollbar.js' %}"> </script>
  <script src="{% static 'assets/js/jquery-ui.min.js' %}"> </script>
  <!-- Global Required Scripts End -->

  <!-- Page Specific Scripts Start -->
  <script src="{% static 'assets/js/slick.min.js' %}"> </script>
  <script src="{% static 'assets/js/moment.js' %}"> </script>
  <script src="{% static 'assets/js/jquery.webticker.min.js' %}"> </script>
  <script src="{% static 'assets/js/Chart.bundle.min.js' %}"> </script>
  <script src="{% static 'assets/js/Chart.Financial.js' %}"> </script>

  <!-- Page Specific Scripts Finish -->

  <!-- Foodtech core JavaScript -->
  <script src="{% static 'assets/js/framework.js' %}"></script>

  <!-- Settings -->
  <script src="{% static 'assets/js/settings.js' %}"></script>


    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/perfect-scrollbar.js' %}"> </script>
  <script src="{% static 'assets/js/jquery-ui.min.js' %}"> </script>
  <!-- Global Required Scripts End -->

  <!-- Page Specific Scripts Start -->
  <script src="{% static 'assets/js/Chart.bundle.min.js' %}"> </script>
  <!-- Page Specific Scripts End -->

  <!-- Page Specific Scripts Finish -->
  <script src="{% static 'assets/js/datatables.min.js' %}"> </script>
  <script src="{% static 'assets/js/data-tables.js' %}"> </script>

  <!-- Foodtech core JavaScript -->
  <script src="{% static 'assets/js/framework.js' %}"></script>

  <!-- Settings -->
  <script src="{% static 'assets/js/settings.js' %}"> </script>

</body>

</html>
